snippet shut "shutdown" b
---
Shutdown:
endsnippet

snippet fdh "Form Engine Directive HTML" b
<div class="control-group">
    <label class="control-label">
        <span class="required-ind" ng-show="ngxRequired && !model">r</span>
        {{ ngxLabel }}
    </label>
    <div class="controls">

    </div>
</div>
endsnippet
