snippet fdm "Form Engine Directive Manifest" b
{
    "name": "$1",
    "description": "$2",
    "feid": "$3",
    "params": {
    },
    "demoData": {
        "style": "$1",
        "label": "$1",
        "params": {
        },
        "data": {
            "value": "$4"
        },
        "isRequired": false
    }
}


endsnippet
